# Base Django & Server
Django==5.1.4
gunicorn==23.0.0
asgiref==3.8.1
sqlparse==0.5.3
python-dotenv==1.2.1
whitenoise==6.8.2
python-decouple==3.8

# Database
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# API & Security
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.6.0
django-auditlog==3.0.0
django-otp>=1.5.0
PyJWT==2.10.1

# Documentation & Utils
drf-yasg==1.21.8
packaging==24.2
pytz==2024.2
PyYAML==6.0.2
inflection==0.5.1
uritemplate==4.1.1

# Social Auth / Google
google-auth==2.37.0
requests==2.32.3